<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint address="http://srv08:8083/DataService" binding="basicHttpBinding"
    bindingConfiguration="NanoIOSystemAPIBinding" contract="IOService.NanoIOSystemAPIInterface"
    name="NanoIOSystemAPI" />
  <endpoint address="http://194.85.163.231/Integrator/IntegratorService.asmx"
    binding="basicHttpBinding" bindingConfiguration="IntegratorServiceSoap"
    contract="ClustersService.IntegratorServiceSoap" name="IntegratorServiceSoap" />
  <endpoint address="http://192.168.4.1/Eventing/EventingBrokerService.svc"
    binding="basicHttpBinding" bindingConfiguration="ebs" contract="EventingService.IEventingBrokerService"
    name="ebs" />
  <endpoint address="http://192.168.4.1:8732/RExService" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IRExService" contract="RExService.IRExService"
    name="BasicHttpBinding_IRExService" />
  <endpoint address="http://192.168.4.1/Billing/BillingService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingService"
    contract="AccountingService.IBillingService" name="BasicHttpBinding_IBillingService" />
  <endpoint address="http://192.168.4.1/Billing/BillingService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingService"
    contract="AccountingService.IAccountingService" name="BasicHttpBinding_IAccountingService" />
  <endpoint address="http://192.168.4.1/Billing/BillingService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITarrifingService"
    contract="AccountingService.ITarrifingService" name="BasicHttpBinding_ITarrifingService" />
  <endpoint address="http://192.168.4.1/Rights/RightsProviderService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRightsProviderSerivce"
    contract="RightsService.IRightsProviderSerivce" name="BasicHttpBinding_IRightsProviderSerivce" />
  <endpoint address="http://192.168.4.1/Rights/RightsProviderService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRightsManagerService"
    contract="RightsService.IRightsManagerService" name="BasicHttpBinding_IRightsManagerService" />
  <endpoint address="http://192.168.4.1/Rights/RightsProviderService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestable"
    contract="RightsService.ITestable" name="BasicHttpBinding_ITestable" />
  <endpoint address="http://localhost:8701/ControllerFarmService/"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IControllerFarmService"
    contract="ControllerFarmService.IControllerFarmService" name="WSHttpBinding_IControllerFarmService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost:61095/ResourceBaseService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceBaseService"
    contract="ResourceBaseService.IResourceBaseService" name="BasicHttpBinding_IResourceBaseService" />
  <endpoint address="http://192.168.4.2/UMService/UserManagementService.svc/umSoapClient"
    binding="basicHttpBinding" bindingConfiguration="UserManagementSOAPClient"
    contract="UserManagementService.IUmClient" name="UserManagementSOAPClient" />
  <endpoint address="http://192.168.4.2/UMService/UserManagementService.svc/umSoapManager"
    binding="basicHttpBinding" bindingConfiguration="UserManagementSOAPManager"
    contract="UserManagementService.IUmManager" name="UserManagementSOAPManager" />
  <endpoint address="http://192.168.4.1/SchedulerService/SchedulerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchedulerService"
    contract="SchedulerService.ISchedulerService" name="BasicHttpBinding_ISchedulerService" />
  <endpoint address="http://localhost:8740/Statistics" binding="basicHttpBinding"
    bindingConfiguration="stdStatistics" contract="ExtStatService.IStatisticsService"
    name="stdStatistics" />
  <endpoint address="http://localhost:8701/ControllerFarmService/"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IControllerFarmService1"
    contract="StatFarmBuffer.IControllerFarmService" name="WSHttpBinding_IControllerFarmService1">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8701/ControllerFarmService/StatisticalBuffer"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStatisticalBuffer"
    contract="StatFarmBuffer.IStatisticalBuffer" name="WSHttpBinding_IStatisticalBuffer">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8750/StatisticCacheService"
    binding="basicHttpBinding" bindingConfiguration="stdCacheReceiver"
    contract="StatGlobalCache.IStatisticalGlobalCache" name="stdCacheReceiver" />
  <endpoint address="http://localhost:8750/StatisticCacheService/GlobalCache"
    binding="basicHttpBinding" bindingConfiguration="globalCache"
    contract="StatGlobalCache.IStatisticalService" name="globalCache" />
</client>

