<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      autoReload="true"
      throwExceptions="false"
      
      internalLogLevel="Warn"
      internalLogFile="D:/Projects/Platform/Trunk/Execution/ExecutionLogs/_nlog_internal.txt">

  <!-- File Targets Paths (C:/services/ExecutionLogs/) -->
  <variable name="errorsLogPath"      value="D:/Projects/Platform/Trunk/Execution/ExecutionLogs/_errors.txt" />
  <variable name="executorLogPath"    value="D:/Projects/Platform/Trunk/Execution/ExecutionLogs/${shortdate}_ex.txt" />
  <variable name="packageBaseLogPath" value="D:/Projects/Platform/Trunk/Execution/ExecutionLogs/${shortdate}_pb.txt" />

  <!-- Network Targets Paths -->  
  <variable name="exonViewerAddress" value="tcp4://exon-think:4505" />
  <variable name="smViewerAddress"   value="tcp4://192.168.1.28:4505" />

  <!-- Messages Layouts -->
  <variable name="rawExceptionLayout" value="${exception:format=Type,Message,StackTrace:innerFormat=Type,Message,StackTrace:maxInnerExceptionLevel=5:separator=&#13;&#10;&#32;:innerExceptionSeparator=&#13;&#10;&#32;}"/>
  <variable name="exceptionLayoutWrapper" value="${onexception:Exception occurred in ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true}\:${newline} ${rawExceptionLayout}}"/>
  <variable name="briefLayout" value="${time}  ${level:upperCase=true}   ${message} ${exceptionLayoutWrapper}"/>
  <variable name="fullLayout"  value="${longdate}  ${level:upperCase=true}   ${message}   ${machinename} ${logger} ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true} ${onexception:${newline} ${rawExceptionLayout}}"/>
  <variable name="packageBaseLayout" value="${longdate} [${level:upperCase=true}] ${logger}: ${message}  ${exception:format=Type,Message,StackTrace:separator=&#13;&#10;}"/>
  
  <!-- Output logs -->
    <targets async="false">
      <target name="coloredConsole"     xsi:type="ColoredConsole" layout="${briefLayout}"/>      
      <target name="errorsLogFile"      xsi:type="File" layout="${fullLayout}"  fileName="${errorsLogPath}" />
      <target name="executorLogFile"    xsi:type="File" layout="${briefLayout}" fileName="${executorLogPath}" />
      <target name="packageBaseLogFile" xsi:type="File" layout="${packageBaseLayout}" fileName="${packageBaseLogPath}" />
      <!-- todo : exon viewer & sm viewer -->
    </targets>
  
    <rules>
      <logger name="*" minlevel="Error" writeTo="errorsLogFile"/>

      <!-- todo : exon viewer & sm viewer -->

      <logger name="Easis.PackageBase.*" minlevel="Trace" writeTo="packageBaseLogFile" final="true"/>
      <logger name="*" minlevel="Trace" writeTo="executorLogFile"/>
    </rules>
</nlog>

