<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConfigPath" value="D:\Work\CLAVIRE\TimeMeter"/>
    <add key="AppsConfigFile" value="apps.xml"/>
    <add key="DefaultHeuristics" value="MinMin"/>
    <add key="DefaultUrgentHeuristics" value="UGreedy"/>
    <add key="IsWebHosted" value="true"/>
    <add key="AllowSettingHeuristics" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime maxRequestLength="32768"/>
  </system.web>

    <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="SchedulerWCFService.SchedulerService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScheduler" contract="SchedulerWCFService.IScheduler">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5666/Scheduler/SchedulerService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="IntegratorServiceSoap" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IVManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IScheduler" closeTimeout="00:01:00"
      openTimeout="00:01:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
      allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
      maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600"
      messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
      useDefaultWebProxy="true">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.189/Integrator/IntegratorService.asmx" binding="basicHttpBinding" bindingConfiguration="IntegratorServiceSoap" contract="Integrator.IntegratorServiceSoap" name="IntegratorServiceSoap"/>
      <endpoint address="http://rds-c2q/svc/VManager/VManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVManager" contract="VManager.IVManager" name="BasicHttpBinding_IVManager"/>
    </client>
    </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
