<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="defaultServiceBehavior" name="StatisticsCacheService.StatisticalGlobalCacheServiceImpl">
        <endpoint address="" binding="basicHttpBinding" name="stdCacheReceiver" contract="StatisticsCacheService.IStatisticalGlobalCache">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="/GlobalCache" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GlobalCache" name="globalCache" contract="StatisticsCacheService.IStatisticalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="/FilesArchive" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GlobalCache" name="filesArchive" contract="StatisticsCacheService.IArchiveFilesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8750/StatisticCacheService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8701/ControllerFarmService/StatisticalBuffer" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStatisticalBuffer" name="StatBufferEndpoint" contract="ControllerFarmService.IStatisticalBuffer">
        <!--<identity>
          <dns value="localhost" />
        </identity>-->
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <!-- TODO It maybe too big values for maxReceivedMessageSize and maxBufferSize -->
        <binding name="BasicHttpBinding_GlobalCache" maxReceivedMessageSize="536870912" maxBufferSize="536870912" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStatisticalBuffer" maxReceivedMessageSize="536870912" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- TODO ONLY FOR DEBUG-->
    <!--<diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000">
      </messageLogging>
    </diagnostics>-->
    <!--END TODO-->
  </system.serviceModel>
  <!-- TODO ONLY FOR DEBUG-->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, Error, Critical, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= ".\Traces\ControllerFarmHostTraces.svclog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <!--END TODO-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--30 min-->
    <add key="CacheExpirationTime" value="1800000" />
    <!--30 min-->
    <add key="ArchiveExpirationTime" value="1800000" />
    <!--5 min-->
    <add key="CacheGarbageCollectingInterval" value="300000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Debug" value="true"/>
  </appSettings>
</configuration>