<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISchedulerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.4.2/SchedulerService/SchedulerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchedulerService"
                contract="SchedulerServiceReference.ISchedulerService" name="BasicHttpBinding_ISchedulerService" />
        </client>
    </system.serviceModel>
</configuration>