<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog>
    <include file="${basedir}/bin/Nlog.config"/>
  </nlog>
  <appSettings>
    <add key="ConfigPath" value="D:\Work\CLAVIRE\TimeMeter"/>
    <add key="AppsConfigFile" value="apps.xml"/>
    <add key="DefaultHeuristics" value="MinMin"/>
    <add key="DefaultUrgentHeuristics" value="UGreedy"/>
    <add key="IsWebHosted" value="true"/>
    <add key="AllowSettingHeuristics" value="true"/>

    <add key="SchedMethod" value="second"/>
    <add key="WfBagSize" value="2"/>
    <add key="SchedPath" value="C:\CLAVIRE\IIS\SchedulerService"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SchedulerService.SchedulerService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchedulerService" contract="SchedulerService.ISchedulerService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISchedulerService" closeTimeout="00:01:00"
      openTimeout="00:01:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
      allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
      maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600"
      messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
      useDefaultWebProxy="true">
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="All"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
