<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PackageInstalledCallbackAddress" value="not-matter-for-this-project"/>
    <add key="SVNusername" value="admin"/>
    <add key="SVNpassword" value="admin"/>
    <add key="TempFileDirectory" value="D:\\testdir\\temp"/>
    <add key="RepositoryAddress" value="http://fonhorst-c2q:18080/svn/TestPackageRepo"/>
    <add key="RepositoryStructureFileAddress" value="http://fonhorst-c2q:18080/svn/StructureInfoRepo/StructureList.txt"/>
  </appSettings>
</configuration>