<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8750/StatisticCacheService/GlobalCache" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GlobalCache" contract="StatGlobalCache.IStatisticalService" name="GlobalCacheEndpoint"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_GlobalCache" maxBufferSize="536870912" maxReceivedMessageSize="536870912"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
