<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRExService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IResourceBaseService" />
        <binding name="BasicHttpBinding_IFileStreamService" messageEncoding="Mtom" />
        <binding name="stdRExecution" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8711/RExService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRExService" contract="RExService.IRExService"
        name="BasicHttpBinding_IRExService" />
      <endpoint address="http://localhost:8740/FileService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFileStreamService" contract="ExtFileService.IFileStreamService"
        name="BasicHttpBinding_IFileStreamService" />
      <endpoint address="http://localhost:61095/ResourceBaseService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceBaseService"
        contract="ResourceBaseService.IResourceBaseService" name="BasicHttpBinding_IResourceBaseService" />
      <endpoint address="http://localhost:8740/RExService" binding="basicHttpBinding"
        bindingConfiguration="stdRExecution" contract="ExtRExService.IExecuteService"
        name="stdRExecution" />
    </client>
    <services>
      <service name="MITP.ControllerFarmService">
        <endpoint address="" binding="wsHttpBinding" contract="MITP.IControllerFarmService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/ControllerFarmService/" />
            <!--
                <add baseAddress="http://localhost:8732/Design_Time_Addresses/ControllerFarmService/Service1/"/>
            -->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="MongoConnectionString" value="mongodb://[username:password@]hostname[:port]/database?safe=true" />
    <add key="MongoDbName" value="Farming" />
    <add key="Storage" value="http://192.168.4.11:8084" />
    <add key="StorageToken" value="4fe17e7e3c5ed12eb5175198" />
    <add key="Resources" value="D:\\work\\218\\_Farming\\ResourceBase\\bin\\Debug\\Resources2" />
    <add key="DefaultMaxSession" value="4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>