<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVManager"/>
        <binding name="BasicHttpBinding_IResourceBaseService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5666/VManager/VManagerService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVManager" contract="VBmanager.IVManager" name="BasicHttpBinding_IVManager"/>
      <endpoint address="http://localhost:61095/ResourceBaseService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceBaseService"
    contract="ResourceBaseService.IResourceBaseService" name="BasicHttpBinding_IResourceBaseService" />
    </client>
  </system.serviceModel>
</configuration>
